
<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <a href="https://www.instagram.com/cimagecollege?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw=="><i class="fa-brands fa-square-instagram"></i></a>
            <a href="https://www.facebook.com/cimage"><i class="fa-brands fa-square-facebook"></i></a>
            <a href="https://www.youtube.com/@cimagepatna"><i class="fa-brands fa-youtube"></i></a>
        </div>
        <div class="f-info-brand">Copyright &copy;VIJAYAM Educational Trust 2025 . All rights reserved.</div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>

