


  <footer class="footer">
    <div class="footer-container">
      <div class="footer-section">
        <h3>CIMAGE Group of Institutions</h3>
        <p>Organized by CIMAGE Group of Institutions, Patna</p>
      </div>
      <div class="footer-section">
        <h3>Quick Links</h3>
        <ul>
          
          <li><a href="/show"><i class="fa-solid fa-image"></i>&nbsp;Gallery</a></li>
          <li><a href="#"><i class="fa-solid fa-house"></i>&nbsp;Home</a></li>
          <li><a href="/contact"><i class="fa-solid fa-phone"></i>&nbsp;Contact Us</a></li>
        </ul>
      </div>
      <div class="footer-section">
        <h3>Connect With Us</h3>
        <div class="social-icons">
          <a href="https://www.instagram.com/cimagecollege?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==" target="_blank"><i class="fa-brands fa-square-instagram"></i></a>
          <a href="https://www.facebook.com/cimage"target="_blank"><i class="fa-brands fa-facebook"></i></a>
          <a href="https://www.youtube.com/@cimagepatna"target="_blank"><i class="fa-brands fa-youtube"></i></a>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <p>© 2025 CIMAGE Group of Institutions. All rights reserved.</p>
      <p>made by Raushan Raj&#9829;</p>
    </div>
  </footer>

