<% layout("/layouts/boilerplate")%>
<body>
  <div class="container1">
  <div class="mapbox">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14388.623940836806!2d85.08209968715822!3d25.632947999999985!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39ed57d6a5ca4bc5%3A0xf13297437ad031f6!2sCatalyst%20College%20%7C%20Best%20BCA%20College%20in%20Patna%20%7C%20Top%20BBA%20College%20in%20Patna!5e0!3m2!1sen!2sin!4v1737215945767!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>

  <div class="contact-form">
      <h2 class="form-title">Contact Us</h2>
      <div class="input-wrapper">
          <input type="text" class="form-input" placeholder="Your Name" />
          <input type="email" class="form-input" placeholder="Your Email" />
          <textarea class="form-input" placeholder="Your Message"></textarea>
      </div>
      <button class="form-btn">Send Message</button>
  </div>
</div>

</body>
