.footer {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #121212;
  color: #ccc;
}

.footer {
  background-color: #0d1117;
  color: #ccc;
  padding: 20px 0;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0 10%;
  flex-wrap: wrap;
}

.footer-section {
  flex: 1 1 calc(33.33% - 20px);
  margin: 10px;
}

.footer-section h3 {
  margin-bottom: 10px;
  color: #fff;
}

.footer-section p {
  margin: 5px 0;
  font-size: 14px;
}

.footer-section ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer-section ul li {
  margin: 5px 0;
}

.footer-section ul li a {
  color: #ccc;
  text-decoration: none;
  font-size: 14px;
}

.footer-section ul li a:hover {
  color: #fff;
}

.social-icons a {
  margin-right: 10px;
  display: inline-block;
}

.social-icons img {
  width: 24px;
  height: 24px;
}

.footer-bottom {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
  border-top: 1px solid #222;
  padding-top: 10px;
}

@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    padding: 0 5%;
  }

  .footer-section {
    margin-bottom: 20px;
    text-align: center;
  }

  .footer-section h3 {
    font-size: 18px;
  }

  .footer-section p,
  .footer-section ul li a {
    font-size: 16px;
  }

  .social-icons {
    margin-top: 20px;
    justify-content: center;
  }

  .social-icons a {
    margin-right: 15px;
  }
}

@media (max-width: 480px) {
  .footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 2%;
  }

  .footer-section {
    flex: 1 1 50%;
    text-align: center;
  }

  .footer-section h3 {
    font-size: 16px;
  }

  .footer-bottom {
    font-size: 12px;
  }

  .footer-section p,
  .footer-section ul li a {
    font-size: 14px;
  }

  .footer-section.quick-links,
  .footer-section.connect-with-us {
    margin: 0;
    text-align: center;
  }
}
